*, *::before, *::after { box-sizing: border-box; }

* { margin: 0; }

img, picture, svg, video, canvas { display: block; max-width: 100%; }

input, button, textarea, select { font: inherit; }

body { overflow-wrap: break-word; }