:root {
    --red-600: #c1272d;
    --green-700: #25fd3a;
    --gold-500: #e0a92e;
    --cream-50: #fbf6ec; /*background color*/
    --white: #ffffff;
    --brown-900: #211b17;
    --brown-400: #7a6d61;
}