:root {
    --red-600: #c1272d;
    --green-700: #25fd3a;
    --gold-500: #e0a92e;
    --cream-50: #fbf6ec; /*background color*/
    --white: #ffffff;
    --brown-900: #211b17;
    --brown-400: #7a6d61;


    --color-bg: var(--cream-50);
    --color-surface: var(--white);
    --color-text: var(--brown-900);
    --color-muted: var(--brown-400);
    --color-border: var(--brown-400);
    --color-action: var(--red-600);
    --color-accent: var(--green-700);

    


}